<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="javascript:void(0)">Examples</a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="form/reactive">Reactive Form</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="form/template-driven">Template
        Driven Form</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="lazy-load">Lazy Load</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="service">Service</a></li>
  </ul>
</nav>
<br/>
<br/>
<div class="container-fluid">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>