<form [formGroup]="form">
  <pre>{{form.value | json}}</pre>
  <pre>Valid? {{form.controls.email?.valid}}</pre>
  <pre>Dirty? {{form.controls.email?.dirty}}</pre>
  <pre>Touched? {{form.controls.email?.touched}}</pre>
  <div class="form-group" [ngClass]="{
      'has-danger': form.controls.email?.invalid && (form.controls.email?.dirty || form.controls.email?.touched),
      'has-success': form.controls.email?.valid && (form.controls.email?.dirty || form.controls.email?.touched)}">
    <label>Type your email here</label> &nbsp;&nbsp;&nbsp;&nbsp;
    <app-custom-input type="email" placeholder="Email address" formControlName="email"></app-custom-input>
  </div>
</form>